<div class="flex flex-col gap-12">
  <app-zipcode-entry
    (locationSubmitted)="zipcode.set($event.zipcode)"></app-zipcode-entry>

  @if (userLocations().length) {
    <app-tabs-view [(activeTabId)]="zipcode">
      @for (location of userLocations(); track location) {
        <app-tab
          [tabId]="location.zipcode"
          [label]="location.city + ' (' + location.zipcode + ')'"
          (tabRemoved)="onTabRemoved(location.zipcode)">
          <app-current-conditions
            [zipcode]="location.zipcode"></app-current-conditions>
        </app-tab>
      }
    </app-tabs-view>
  } @else {
    <app-empty-collection-placeholder>
      Please add locations to see weather conditions here.
    </app-empty-collection-placeholder>
  }
</div>
