<div class="flex flex-col gap-16">
  <app-zipcode-entry></app-zipcode-entry>

  @if (userLocations().length) {
    <app-tabs-view>
      @for (zipcode of userLocations(); track zipcode) {
        <app-tab
          [tabId]="zipcode"
          [label]="zipcode"
          (tabRemoved)="onTabRemoved(zipcode)">
          <ng-template appTabLabelTemplate>
            {{ conditions.currentConditions()?.data?.name }}
            ({{ zipcode }})
          </ng-template>

          <app-current-conditions
            #conditions
            [zipcode]="zipcode"></app-current-conditions>
        </app-tab>
      }
    </app-tabs-view>
  } @else {
    <app-empty-collection-placeholder>
      Please add locations to see weather conditions here.
    </app-empty-collection-placeholder>
  }
</div>
