<div class="container">
  <div class="dev-tools">
    <div class="dev-tools__settings">
      <app-dev-tools-http-cache-settings></app-dev-tools-http-cache-settings>

      <app-dev-tools-http-cache-preview
        class="max-h-48 lg:h-48 overflow-y-auto"></app-dev-tools-http-cache-preview>

      <p class="px-4 py-2 bg-gray-50 rounded">
        Above table displays currently stored cache entries for HTTP request.
        Most recent entries are displayed first.
      </p>
    </div>

    <div class="dev-tools__note">
      <p>
        This component is here only to make it easier to test the application's
        features during verification by the
        <span class="font-normal">Angular Training Team</span>. Here, you can
        inspect and modify the application's cache behavior.
      </p>

      <p>
        For more detailed information related to the cache mechanism, please
        inspect the LocalStorage object in the browser's DevTools.
      </p>

      <p class="underline">
        In a normal production deployment, these App DevTools would be disabled.
      </p>

      <p class="font-normal">
        Normally, all of the application's settings are configured through
        environment variables during build time.
      </p>
    </div>
  </div>
</div>
