@if (currentConditions(); as conditions) {
  @if (conditions.data) {
    <div class="flex gap-4 justify-between">
      <div>
        <h4 class="mb-1">
          Current conditions:
          <span class="font-thin">{{ conditions.data.weather[0].main }}</span>
        </h4>

        <h4>Temperatures today:</h4>
        <p>
          Current {{ conditions.data.main.temp | number: '.0-0' }} - Max
          {{ conditions.data.main.temp_max | number: '.0-0' }} - Min
          {{ conditions.data.main.temp_min | number: '.0-0' }}
        </p>

        <a
          appButton="secondary"
          [routerLink]="[Paths.ROOT, Paths.FORECAST, conditions.zip]"
          class="mt-8 font-normal hover:underline">
          Show {{ FORECAST_DAYS }}-day forecast for {{ conditions.data.name }}
        </a>
      </div>

      <div class="flex flex-col items-end">
        @if (conditions.data.weather[0]) {
          <app-weather-icon
            class="block size-36"
            [weather]="conditions.data.weather[0]"></app-weather-icon>
        }
      </div>
    </div>
  } @else if (conditions.isLoading) {
    <div class="flex gap-4 justify-between">
      <div>Loading location data ...</div>
    </div>
  } @else {
    <div class="flex gap-4 justify-between">
      <div>Error ... {{ conditions.errorMessage }}</div>
    </div>
  }
}
