@if (currentConditions(); as conditions) {
  <div class="flex gap-4 justify-between">
    <div>
      <h3 class="text-xl mb-4">
        {{ conditions.data.name }} ({{ conditions.zip }})
      </h3>

      <h4 class="mb-1">
        Current conditions:
        <span class="font-thin">{{ conditions.data.weather[0].main }}</span>
      </h4>

      <h4>Temperatures today:</h4>
      <p>
        Current {{ conditions.data.main.temp | number: '.0-0' }} - Max
        {{ conditions.data.main.temp_max | number: '.0-0' }} - Min
        {{ conditions.data.main.temp_min | number: '.0-0' }}
      </p>

      <a
        appButton="secondary"
        [routerLink]="[Paths.ROOT, Paths.FORECAST, conditions.zip]"
        class="mt-8 font-normal hover:underline">
        Show 5-day forecast for {{ conditions.data.name }}
      </a>
    </div>

    <div class="flex flex-col items-end">
      <button
        appButton="transparent"
        (click)="onRemoveLocation($event)"
        class="!p-1 flex items-center justify-center border leading-none size-8">
        &times;
      </button>

      <img
        [src]="weatherService.getWeatherIcon(conditions.data.weather[0].id)"
        alt="Weather conditions"
        class="size-36" />
    </div>
  </div>
} @else {
  Loading location data ...
}
