<div class="border-b">
  <div class="container flex flex-row items-center justify-between gap-4">
    <div class="flex flex-row gap-4 items-center min-h-14">
      <h3
        class="hidden p-4 lg:-ms-4 lg:flex flex-row items-center gap-2 text-gray-700 hover:bg-gray-50 active:bg-gray-100 cursor-pointer"
        title="Toggle DevTools details"
        (click)="toggleOpen()">
        <app-settings-icon cssClass="size-6"></app-settings-icon>

        <span>Application DevTools</span>
      </h3>

      <button
        [appButton]="open() ? 'primary' : 'transparent'"
        [ngClass]="{ 'animate-bounce': !open() }"
        (click)="toggleOpen()"
        class="!p-2 !size-8 shadow"
        title="Toggle DevTools details">
        @if (open()) {
          <app-chevron-down></app-chevron-down>
        } @else {
          <app-chevron-up></app-chevron-up>
        }
      </button>
    </div>

    <div class="flex flex-row gap-4 items-center">
      <div class="text-xs" title="Cache timespan">
        <span>Cache lifespan: </span>
        <span class="inline-flex font-normal bg-slate-300 px-2 py-1 rounded">
          {{ cacheLifespan() | timeSpan }}
        </span>
      </div>

      <div class="text-xs" title="Cached entries count">
        <span>Cached entries: </span>

        <span
          [@tada]="animateCacheCounter()"
          (@tada.start)="onCounterAnimationStart()"
          (@tada.done)="onCounterAnimationDone()"
          [ngClass]="{
            'bg-slate-700': !isAnimatingCounter(),
            'bg-slate-500': isAnimatingCounter(),
          }"
          class="inline-flex font-bold transition-all duration-500 text-white px-2 py-1 rounded">
          {{ cachedItemsCount() | number }}
        </span>
      </div>
    </div>
  </div>
</div>
