<div class="mb-8">
  @if (data.forecast) {
    <div class="app-panel">
      <div class="-m-4 p-4 mb-2 bg-white rounded-t border-b-2 border-slate-200">
        <h3>
          {{ data.forecast.list.length }}-day forecast for
          {{ data.forecast.city.name }} ({{ data.zipcode }})
        </h3>
      </div>

      <app-forecasts-list [forecast]="data.forecast"></app-forecasts-list>
    </div>
  } @else {
    <app-error-placeholder>
      {{ data.resolveErrorMessage }}
    </app-error-placeholder>
  }
</div>

<app-back-button
  [fallbackBackUrl]="fallbackBackUrl"
  label="Back to main page"></app-back-button>
