<div class="tabs-navigation">
  <ul class="tabs-navigation__list">
    @for (oneTab of tabs; track oneTab) {
      <li
        class="tabs-navigation__item"
        [appScrollableTabItem]="oneTab.tabId"
        [ngClass]="{ active: oneTab === activeTab }"
        (click)="openTab.next(oneTab)"
        [attr.data-tab-id]="oneTab.tabId">
        @if (oneTab.labelTemplate) {
          <ng-container
            *ngTemplateOutlet="oneTab.labelTemplate.template"></ng-container>
        } @else {
          <span>{{ oneTab.label }}</span>
        }

        <button
          appButton="transparent"
          title="Close"
          class="tab-close-btn justify-center text-xs !p-0 size-6"
          (click)="closeTab.next(oneTab)">
          <app-close-icon></app-close-icon>
        </button>
      </li>
    }
  </ul>
</div>
