<div class="app-panel">
  <h2 class="mb-4 text-2xl">Enter a zipcode:</h2>

  <form [formGroup]="formGroup">
    <div class="flex flex-col sm:flex-row gap-4">
      <div class="flex-1 relative">
        <input
          appFormControl
          type="text"
          [formControl]="formGroup.controls.zipcode"
          placeholder="Zipcode"
          class="w-full" />

        <div class="absolute top-0 right-0 bottom-0">
          <div class="h-full px-2 flex items-center justify-center">
            <div
              class="flex items-center justify-center text-sm rounded bg-slate-500 text-white">
              @if (locationLookupPending()) {
                <app-icon-loading
                  class="m-1 block animate-spin"></app-icon-loading>
              } @else if (formGroup.controls.city.value) {
                <div class="m-1">{{ formGroup.controls.city.value }}</div>
              }
            </div>
          </div>
        </div>
      </div>

      <button
        appButton="primary"
        [disabled]="!formGroup.valid"
        (click)="onSubmit()">
        Add location
      </button>
    </div>

    <div class="mt-1 min-h-5 text-sm font-normal text-red-500">
      @if (zipcodeErrors()) {
        {{ zipcodeErrors() | json }}
      }
    </div>
  </form>
</div>
