<div class="app-panel">
  <h2 class="mb-4 text-2xl">Enter a zipcode:</h2>

  <form [formGroup]="formGroup">
    <div class="flex gap-4">
      <input
        appFormControl
        type="text"
        [formControl]="formGroup.controls.zipcode"
        placeholder="Zipcode"
        class="flex-1" />

      <button
        appButton="primary"
        [disabled]="!formGroup.valid"
        (click)="onSubmit()">
        Add location
      </button>
    </div>

    <div class="mt-1 min-h-5 text-sm font-normal text-red-500">
      @if (formGroup.controls.zipcode.errors; as errors) {
        {{ errors | json }}
      }
    </div>
  </form>
</div>
